



.cardContainer{
    height: auto;
    margin: 15px auto;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.cardsize{
width: 100%;
}
.imagesize{
    width: 100%;
    height: 200px;
}

.title{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.title button{
    border: none;
    height: 25%;
    width: 25px;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: space-around;
   
}

.images{
    height: 30px;
    width: 30px;

}
.user{
    height: 40px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    object-fit: contain;
}
.userDetail{
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;   
}
.username{
    margin:auto;
}
.share{
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* gap: 10px; */
}
.placecontainer{
    height: auto;
    width: 30%;
}
.dropbtn {
    margin-left: 20px;
    background-color: #F8F9FA;
    color: black;
    float: right;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropdown {
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit: contain;

  }
  .comments{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .comments input{
    padding-left: 10px;
    width: 80%;
    height: 80%;
    border: none;
    border-bottom: 2px solid gray;
  }
  .commentBox{
    position: relative;
    z-index: 3;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-evenly;

  }
  .commentsection{
    border-bottom: 1px solid gray;
    width: 80%;
    height: 50px;
    text-align: justify;
    display: flex;
    align-items: center;
    gap: 10px;
  }
  .commentsection p{
    margin-top: 10px;
  }
  .usertag{
    text-decoration: underline;
    color: blue;
  }

  @media(max-width: 800px){
    .placecontainer{
        display: none;
    }
    .cardContainer{
        width: 100%;
    }
  }