body{
  background-color: #373B44;
}
.formContainer{
    background-color: white;
    padding: 15px;
    margin: 20px auto;
    border: none;
    box-shadow: 0 0 5px black;
    border-radius: 5px;
    height: 60vh;
    width: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formContainer hr{
    width: 80%;
    margin: 20px;
}
.formContainer form{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.inputBox{
  
    margin: auto;
    width: 70%;
    height: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;

}
.inputBox input{
  padding-left: 10px;
    border: none;
    height: 45%;
    width: 80%;
    border-bottom: 2px solid grey;
}
.forgotpass{
  position: relative;
  right: -20%;
  bottom: 10%;
  text-decoration: none;
  float: right;
  color: blue;
}



/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}